{% load staticfiles %}
<html>
    <head>
        <title>Magna Merchant API</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/upload.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Magna Merchant API</a></h1>
        </div>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#"></a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="{% url 'rewardPointsCalculation' %}" class="top-menu">RedeemPoints</span></a></li>
              <li><a href="{% url 'rewardPointsCalculation' %}" class="top-menu">GetPackages</span></a></li>
              <li><a href="{% url 'rewardPointsCalculation' %}" class="top-menu">ValidateRedemption</span></a></li>
              <li><a href="{% url 'rewardPointsCalculation' %}" class="top-menu">CancelRedemption</span></a></li>
              <li><a href="{% url 'rewardPointsCalculation' %}" class="top-menu">RewardPointsCalculation</span></a></li>

            </ul>
          </div>
        </nav>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
