{% extends 'upload/base.html' %}

{% block content %}
    <h1 class="form-title">Reward Points Calculation</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
{% endblock %}
