.page-header {
    background-color: #546b9d;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    font-family: "Open Sans", Arial, sans-serif;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: "Open Sans", Arial, sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: left;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
    font-size:12pt;
}

.form-title{
  font-size:24pt;
}
